.vscode
**/node_modules/
*.env
.env.*
!install-params.env
firebase-debug.log
firestore-debug.log
ui-debug.log
.DS_Store
mods-test-data/key.json
.gradle
.idea
build
*.iml
local.properties
coverage
yarn.lock
.yarn/*
!.yarn/plugins
!.yarn/releases

firestore-debug.log
*.log
tmp.json

# Temporary fix until we're confident we should commit built libs
extensions/**/lib/*
