SHIPENGINE_API_KEY=API_KEY_HEREs
COLLECTION_PATH=customers/{customerId}/payments
INPUT_SCHEMA={"shipment":{"carrierId":"metadata.carrierId","serviceCode":"metadata.serviceCode","shipDate":"metadata.shipDate","shipFrom":{"name":"metadata.shipFromName","phone":"metadata.shipFromPhone","addressLine1":"metadata.shipFromAddressLine1","cityLocality":"metadata.shipFromCityLocality","stateProvince":"metadata.shipFromStateProvince","postalCode":"metadata.shipFromPostalCode"},"shipTo":{"name":"metadata.shipToName","addressLine1":"metadata.shipToAddressLine1","addressLine2":"metadata.shipToAddressLine2","cityLocality":"metadata.shipToCityLocality","stateProvince":"metadata.shipToStateProvince","postalCode":"metadata.shipToPostalCode"},"packages":{"_root":"metadata","weight":{"value":"packageWeightValue","unit":"packageWeightUnit"}}}}
VERBOSE_LOG_OUTPUT=true